CC = gcc
CFLAGS = -Wall -O2
{% if db == 'postgresql' %}
CFLAGS += -I$(shell pg_config --includedir)
LIBS = -lmicrohttpd -lpq -lcjson
{% elif db in ['mysql', 'mariadb'] %}
LIBS = -lmicrohttpd $(shell mysql_config --libs) -lcjson
CFLAGS += $(shell mysql_config --cflags)
{% elif db == 'sqlite' %}
LIBS = -lmicrohttpd -lsqlite3 -lcjson
{% endif %}

all: server

server: main.c
	$(CC) $(CFLAGS) -o server main.c $(LIBS)

clean:
	rm -f server

