# APIs generadas dinámicamente
api/api/deployments/

sqlite_data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# Flutter / Dart
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

# Android
app/android/.gradle/
app/android/local.properties
app/android/app/debug/
app/android/key.properties
*.jks
*.keystore

# iOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# macOS
.DS_Store

# Web App (React / Vite)
node_modules/
api/appWeb/node_modules/
api/appWeb/dist/
api/appWeb/dist-ssr/
api/appWeb/*.local
api/appWeb/.eslintcache
